<%- include('./includes/header', { csrf_token }) %>
    <div class="container-fluid songs-container">

        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-pills" style="margin-bottom: 10px;">
                    <li role="presentation" class="<%= filterBy === 'all' ? 'active' : '' %>"><a href="/song">View All</a></li>
                    <li role="presentation" class="<%= filterBy === 'favorite' ? 'active' : '' %>"><a href="/song/favorite">Favorites</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <%= backUrl = filterBy==='favorite' ? '/song/favorite' : '/song' %>
                <%- include('./includes/song_panel', {songs, csrf_token, backUrl}) %>
            </div>

        </div>

    </div>
</body>
</html>
